.why {
  position: relative;
  z-index: 0;
  margin: 88px 0 108px;
}

/* Для демонстрации блоков */
.why div {
  outline: 1px solid red;
}

.why-image {
  width: 100%;
  line-height: 0;
}

.why-image__picture {
  width: 100%;
  height: 100%;
}

.why-image__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.why__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  color: #27AE60;
  margin-bottom: 38px;
}

.why-list-item {
  margin-bottom: 28px;
  display: flex;
  gap: 12px;
}

.why-list-item:last-child {
  margin-bottom: 0;
}

.why-list-item-icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 35px rgba(25, 130, 189, 0.18);
  line-height: 0;
  margin-top: -3px;
}

.why-list-item-icon svg {
  width: 100%;
  height: 100%;
}

.why-list-item__title {
  font-size: 16px;
  line-height: 118%;
  font-weight: 700;
}

.why-list-item__text {
  margin-top: 5px;
  font-size: 14px;
  line-height: 118%;
}